<ion-header>
  <ion-toolbar>
    <ion-title>ParkList</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-toolbar>
    <ion-searchbar [(ngModel)]="searchQuery" (ionInput)="getParks($event)" (ionClear)="resetList($event)">
    </ion-searchbar>
  </ion-toolbar>

  <ion-list>
    <ion-item *ngFor="let park of parks" (click)="goParkDetails(park)" detail-push>
      <ion-thumbnail slot="start">
        <img src="assets/img/thumbs/{{park.image}}">
      </ion-thumbnail>
      <ion-label>
        <strong>{{park.name}}</strong><br>
        {{park.state}}
      </ion-label>
      
      
    </ion-item>
  </ion-list>
</ion-content>
